<table class="table table-bordered text-center">
    <tr>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th>Currencies</th>
        <th>Flag</th>
    </tr>
    <tr>
        <td>{{content.name}}</td>
        <td>{{content.capital}}</td>
        <td>{{content.population | number: '2.0'}}</td>
        <td>Code: {{content.currencies[0].code}}, Symbol: {{content.currencies[0].symbol}}</td>
        <td><img src="{{content.flag}}" height="30" alt="Country Flag"></td>
    </tr>
</table>
